.DS_Store
node_modules
/dist*
/src/cg-flow-fe-ele
/backup
/_book
# local env files
.env.development

grid-civilization-pc-web*
# Log files
npm-debug.log*
yarn-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.project
.settings/

